*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ..........................................................  */
.fixed_nav{
    position: fixed;
    background-color: white;
    width: 100%;
}
/* .................................................................  */
.navbar1{
    width: 100%;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    height: 5vh;
    align-items: center;
}
.navbar1 .one1 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.navbar1 .one2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 152px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
/* ..............................................................  */
.navbar2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    height: 10vh;
}
.navbar2 .two1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 460px;
}
.navbar2 .two1 ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.two2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}
.two2 .two21{
    width: 280px;
    height: 7vh;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.two2 .two21 i{
    margin-left: 4px;
    cursor: pointer;
}
.two2 .two21 input{
    outline: none;
    border: none;
    width: 270px;
    background-color: rgb(236, 236, 236);
    font-size: 13px;
    padding-left: 10px;
}
.two22{
    background-color: gray;
    width: 1.1px;
    height: 4vh;
}
.two2 .two23 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 140px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    cursor: pointer;
}
.navbar3 hr{
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar4 ul{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    list-style: none;
    padding: 10px 240px;
    cursor: pointer;
}
/* ...................................................................................  */
.nonfixed_part{
    padding-top: 170px;
    width: 100%;
}
.nonfixed_part .five1{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.nonfixed_part .five2{
    margin: 20px 0px;
    cursor: pointer;
}
.nonfixed_part .five3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
}
.nonfixed_part .five3 .five31{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    cursor: pointer;
}
.nonfixed_part .five4{
    font-family: 'Bruno Ace', cursive;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.nonfixed_part .five5{
    display: flex;
    cursor: pointer;
}
.nonfixed_part .five6 h2{
    margin: 0px 0px;
    width: 100%;
    font-family: 'Bruno Ace', cursive;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.nonfixed_part .five7{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}
.nonfixed_part .five7 .five71{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
}
.nonfixed_part .five8{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
}
.nonfixed_part .five8 .five81{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    cursor: pointer;
}
.nonfixed_part .five9{
    font-family: 'Bruno Ace', cursive;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
}
.nonfixed_part .five10{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.nonfixed_part .five11{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    cursor: pointer;
}
.nonfixed_part .five12{
    font-family: 'Bruno Ace', cursive;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
}
.nonfixed_part .five13{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    margin-top: 16px;
}
.nonfixed_part .five13 .five131{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}
.nonfixed_part .five14{
    display: flex;
    justify-content: space-between;
}
.nonfixed_part .five15{
    font-family: 'Bruno Ace', cursive;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.nonfixed_part .five16{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.nonfixed_part .five17 img{
    margin-top: 7px;
    cursor: pointer;
}



